.Portfolio {
  text-align: center;
  margin: 0 auto;
  font-family: var(--secondary-font);
}

.Portfolio .hero {
  text-align: center;
  background-color: rgba(171, 165, 157, 0.545);
  padding: 80px 20px;
  margin: 0 auto;
}

.Portfolio h2 {
  font-size: 20px;
}

.Portfolio section {
  margin-top: 100px;
}
.Portfolio em {
  font-family: var(--main-font);
  font-size: 48px;
}

.Portfolio .img-fluid {
  max-width: 400px;
  border-radius: 50%;
}

.Portfolio p {
  font-size: 20px;
}
